/* Global variables */
:root {
	--text-dark-color: #333;
	--text-light-color: #ddd;
	--background-light-color: #ddd;
	--background-dark-color: #333;
	--black: #000;
	--green: #399c11;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	scroll-behavior: smooth;
	font-size: 200%;
}
body {
	font-size: 1rem;
	font-family: 'Great Vibes', sans-serif;
	line-height: 1.6;
	color: #86672c;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0.5rem 1rem 0.5rem;
	background: url('images/bg.png') no-repeat center center/cover;
}
@supports (background-blend-mode: multiply) {
	body {
		background-blend-mode: multiply;
		background-attachment: fixed;
	}
}
.text-large {
	font-size: 0.8rem;
	line-height: 0.8rem;
}
.text-normal {
	font-size: 0.8rem;
	line-height: 0.8rem;
}
.alt-font {
	font-family: 'Alex Brush', sans-serif;
}
a {
	color: #578dbe;
	font-family: 'Arial', sans-serif;
	font-size: 0.45rem;
}
a i {
	margin-right: 0.1rem;
}
ul {
	list-style: none;
}
h1,
h2,
h3,
h4 {
	font-weight: normal;
}
hr {
	color: #86672c;
	margin: 0.5rem 0;
	width: 150%;
	margin-left: -25%;
}
.wrapper {
	width: 100vw;
	min-height: calc(100vh - 2rem);
	animation-name: animation;
	animation-duration: 3s;
}
.content {
	padding: 1rem 0.3rem;
	text-align: center;
}
.m-1 {
	margin: 1rem 0;
}
.m-05 {
	margin: 0.5rem 0;
}
.and {
	margin: -0.9rem 0;
	font-size: 1rem;
}
.shadow-element {
	height: 4rem;
}
.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-normal {
	height: 4rem;
}
.img-small {
	height: 3rem;
}
.card p {
	margin: -0.2rem 0;
}
.telephone {
	font-family: inherit;
	text-decoration: none;
	font-size: 1rem;
}
.telephone i {
	color: #25d366;
	margin-right: 0.3rem;
}
.countdown {
	display: flex;
	min-height: 3rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: #86672c 1px solid;
	border-radius: 0.5rem;
	max-width: 9rem;
	margin: 0.5rem auto;
}
.countdown div {
	font-size: 1rem;
	font-weight: bold;
	width: 1.8rem;
	padding-top: 0.2rem;
	opacity: 0.85;
}
.countdown span {
	font-weight: normal;
	font-size: 0.9rem;
	display: block;
	margin-top: -0.6rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input {
	font: inherit;
	display: block;
	font-size: 0.7rem;
	padding: 0.2rem 0.5rem;
	padding-top: 0.4rem;
	border: 1px solid #86672c;
	border-radius: 10px;
	transition: all 0.2s;
	margin-bottom: 0.3rem;
}
input[name='response'] {
	/* display: none;
	visibility: hidden; */
}
input:focus {
	border: 2px solid #86672c;
	transform: scale(1.02);
	outline: 0 none;
}
button {
	font: inherit;
}
button:focus {
	outline: none;
}
.btn {
	transition: all 0.3s;
	display: inline-block;
	padding: 0.2rem 0.7rem;
	padding-top: 0.3rem;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 0.7rem;
	line-height: 0.7rem;
	color: white;
}
.btn-primary {
	background-color: #2faa5c;
}
.btn-primary:hover {
	background-color: green;
}
.btn-secondary {
	background-color: rgb(189, 57, 57);
}
.btn-secondary:hover {
	background-color: red;
}

@media only screen and (min-width: 700px) {
	.cards {
		flex-direction: row;
	}
	.card {
		margin: 0 0.5rem;
	}
	hr {
		display: none;
	}
	.img-normal {
		height: 3rem;
	}
}

@keyframes animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
